.pageContainer {
    width: 100%;
    height: 1080px;
}

.blue {
    background-color: cadetblue;
}

.olive {
    background-color: olive;
}

.brown {
    background-color: sandybrown;
}

h1 {
    text-align: center;
    color: #fff;
    margin: 0;
}

.question {
    height: 200px;
    background-color: lightslategray;
    transition: all 300ms ease-in-out;
    margin-top: 20px;
    cursor: pointer;
}

.question:hover {
    transform: scale(1.05);
}

.hide {
    display: block;
}